.container, .cc{
	width: 90%;
	margin: 0 auto;
}
%brand-backed{
		background: $brand-color;
		color: #fff !important;
	}
header{
	margin-bottom:2em; 
	color: #afafaf;
	h1{
		@extend %brand-backed;
	}
}
article{
	padding-bottom: 2em; 
}
#date-contain{position: relative;}
#date{
	position: fixed;
}
@include media-query(desk) {
	#date{
		right:66%;
	}
}
@include media-query(lap-and-up) {
	.job__section{
	text-align: right;
	}
	.job__section-right{
		font-style: italic;
	}
}
@include media-query(palm) {

}